<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Create Product</title>
</head>
<body>
    <input type="text" id="name" placeholder="name" name="name" required> <br><br>
    <input type="text" id="company" placeholder="company" name="company" required> <br><br>
    <input type="text" id="description" placeholder="description" name="description" required> <br><br>
    <input type="text" id="price" placeholder="price"  name="price">
    <input type="radio" id="category1" name="categories" value="Fruit, vegetables">
    <label for="category1" >Fruit, vegetables</label>
    <input type="radio" id="category2" name="categories" value="Meat">
    <label for="category2" >Meat</label>
    <input type="radio" id="category3" name="categories" value="Gastronomy">
    <label for="category3" >Gastronomy</label>
    <input type="radio" id="category4" name="categories" value="Soft drinks">
    <label for="category4" >Soft drinks</label>
    <input type="radio" id="category5" name="categories" value="Confectionery">
    <label for="category5" >Confectionery</label>
    <input type="radio" id="category6" name="categories" value="Grocer">
    <label for="category6" >Grocer</label>
    <input type="radio" id="category7" name="categories" value="Dairy">
    <label for="category7" >Dairy</label>
    <input type="radio" id="category8" name="categories" value="Own Production">
    <label for="category8" >Own Production</label>
    <input type="radio" id="category9" name="categories" value="Tea, Coffee, Cocoa">
    <label for="category9" >Tea, Coffee, Cocoa</label>
    <input type="radio" id="category10" name="categories" value="Canned food">
    <label for="category10" >Canned food </label>
    <input type="radio" id="category11" name="categories" value="Frozen food">
    <label for="category11" >Frozen food</label>
    <input type="radio" id="category12" name="categories" value="Household chemicals">
    <label for="category12" >Household chemicals</label>
    <input type="radio" id="category13" name="categories" value="Hygiene products">
    <label for="category13" >Hygiene products</label>
    <input type="radio" id="category14" name="categories" value="Household products">
    <label for="category14" >Household products</label>
    <input type="radio" id="category15" name="categories" value="Childen's goods">
    <label for="category15" >Childen's goods</label>
</body>
</html>